{
    metrics {
        per_host
    }
}

http://localhost:2019 {
    metrics
}

{{ web_proxy__domain }} {
{% if web_proxy__disable_tls | default(false) %}
    tls internal
{% endif %}
    @telemetry path /prometheus/* /grafana/*

    handle_path /hls/* {
        reverse_proxy {
            to localhost:8888
            header_down Location ^/ /hls/
        }
    }
    handle_path /webrtc/* {
        reverse_proxy {
            to localhost:8889
            header_down Location ^/ /webrtc/
        }
    }

    basic_auth @telemetry {
        {{ web_proxy__basic_auth_user }} {{ web_proxy__basic_auth_pass_hash }}
    }

    # handle, do not strip /prometheus
    handle /prometheus/* {
        reverse_proxy localhost:9090
    }

    # handle, strip /grafana
    handle_path /grafana/* {
        reverse_proxy localhost:3000
    }

    respond "ČO is healthy!"
}

# allow cloud connection with hardcoded http:// in TallyArbiter
cloud.ta.{{ web_proxy__domain }}:80, socket.tally.{{ web_proxy__domain }}:80 {
{% if web_proxy__disable_tls | default(false) %}
    tls internal
{% endif %}
    reverse_proxy localhost:4455
}

ta.{{ web_proxy__domain }}, tally.{{ web_proxy__domain }} {
{% if web_proxy__disable_tls | default(false) %}
    tls internal
{% endif %}
    reverse_proxy localhost:4455
}

gfx.{{ web_proxy__domain }} {
{% if web_proxy__disable_tls | default(false) %}
    tls internal
{% endif %}
    handle /_sse/* {
        reverse_proxy localhost:{{ gfx__proxy_host_port }}
    }

    redir / {{ gfx__github_pages_url }}{uri} permanent

    basic_auth {
        {{ gfx__auth_user }} {{ gfx__auth_hash }}
    }

    handle_path /control/* {
        reverse_proxy localhost:{{ gfx__control_host_port }}
    }
}
