{
    "vmix-url": "gfx-proxy:8080",
    "hide-all": "api/?Function=OverlayInputAllOff",
    "commentators": "http://gfx-proxy:8080/webhook/speaker",
    "flowers": "http://gfx-proxy:8080/webhook/flowers",
    "label": "http://gfx-proxy:8080/webhook/single-runner",
    "live-feed": "http://gfx-proxy:8080/webhook/live-feed",
    "params": "http://gfx-proxy:8080/webhook/params",
    "results": "http://gfx-proxy:8080/webhook/results",
    "split": "http://gfx-proxy:8080/webhook/live-feed",
    "start-label": "http://gfx-proxy:8080/webhook/start",
    "start-list": "http://gfx-proxy:8080/webhook/startlist",
    "start-list-relay": "http://gfx-proxy:8080/webhook/startlist",
    "text": "http://gfx-proxy:8080/webhook/freetext",
    "title": "http://gfx-proxy:8080/webhook/title",
    "weather": "http://gfx-proxy:8080/webhook/weather",

    "--todo--": "not yet implemented in co-stream-gfx proxy/graphics",
    "elapsed": "http://gfx-proxy:8080/webhook/elapsed",

    "--not-used--": "not currently used in co-stream-gfx proxy/graphics",
    "hide-all-1": "api/?Function=OverlayInput1Off",
    "hide-all-2": "api/?Function=OverlayInput2Off",
    "one_page_result_relay": "",
    "runner_split": "",
    "one-page-result": "http://gfx-proxy:8080/webhook/b124a585-2b33-4948-a657-91a9ac5e052f",
    "runner-split": "http://gfx-proxy:8080/webhook/80194452-f2a2-4166-a25c-11c1fa4b171b",
    "one-page-result-relay": "http://gfx-proxy:8080/webhook/80f7aa1d-6092-43c6-9fef-ef9427e8c4c0",
    "logo-corner": "api/?function=OverlayInput4In&Input=logo_cz_beige.gtzip",
    "api_endpoint": "http://gfx-proxy:8080/webhook/single-runner",
    "api_key": "",
    "api_results_endpoint": "http://gfx-proxy:8080/webhook/results_full",
    "burst_webhook": "http://gfx-proxy:8080/webhook-test/e3a4f38c-5565-42d3-9e2c-614849683d74",
    "flags_path": "C:\\Users\\chmel\\Documents\\orientacnisporty\\IOF_GRAFIKA\\vlajky_3_letters_JWOC\\"
}
