{
 "security": {
  "jwt_private_key": ""
 },
 "users": [],
 "cloud_destinations": [],
 "cloud_keys": [],
 "device_actions": [],
 "device_sources": [],
 "devices": [
{% for device in ta__devices %}
  {
   "name": {{ device | to_json }},
   "enabled": true,
   "id": {{ ('ta-device-' ~ device) | to_uuid | to_json }}
  }{{ "," if not loop.last else "" }}
{% endfor %}
 ],
 "sources": [],
 "tsl_clients": [],
 "tsl_clients_1secupdate": false,
 "bus_options": [
{% for output in ta__outputs %}
  {
   "id": {{ output.id | to_json }},
   "label": {{ output.label | to_json }},
   "type": {{ output.type | to_json }},
   "color": {{ output.color | to_json }},
   "priority": {{ output.priority }},
   "visible": true
  }{{ "," if not loop.last else "" }}
{% endfor %}
 ],
 "externalAddress": "http://0.0.0.0:4455/#/tally",
 "chat_enabled": true,
 "remoteErrorReporting": false,
 "uuid": "",
 "mqtt": {
  "enabled": false,
  "broker": "localhost",
  "port": 1883,
  "username": "",
  "password": "",
  "topicPrefix": "tallyarbiter",
  "retain": true,
  "qos": 0,
  "reconnectPeriod": 5000,
  "connectTimeout": 10000,
  "keepalive": 60
 }
}
