provider = "oidc"
oidc_issuer_url = "https://{{ auth__domain }}"
client_id = "{{ auth__oauth2_proxy_client_id }}"
client_secret = "{{ auth__oauth2_proxy_client_secret }}"
cookie_secret = "{{ auth__oauth2_proxy_cookie_secret }}"
cookie_domains = [".{{ auth__cookie_domain }}"]
cookie_secure = true
email_domains = ["*"]
set_xauthrequest = true
pass_access_token = true
scope = "openid profile email urn:zitadel:iam:org:project:id:zitadel:aud"
redirect_url = "https://{{ web_proxy__domain }}/oauth2/callback"
upstream = "static://202"
skip_provider_button = true
oidc_groups_claim = "urn:zitadel:iam:org:project:roles"
http_address = "0.0.0.0:4180"
